<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
		<meta charset="UTF-8">
		<title>
			Strongpaw Coding | Main
		</title>
	</head>

	<body>
		<header class="center-container">
			<h1>Welcome to StrongpawCoding.com</h1>
			<nav>
				<a href="{% url 'home' %}">Main</a>
				<a href="{% url 'resume' %}">Resume</a>
				<a href="{% url 'spblog_index' %}">Blog</a>

			</nav>
		</header>
		<hr>	
		<main id="main">
			
			{% block page_content %}{% endblock page_content %}

		</main>
		<hr>
		<footer>
			<p>Maintained by me :)</p>
			<p>All rights reserved</p>
			<p>Contact: storngpawcoding@gmail.com</p>
		</footer>
	</body>
</html>
