{% extends "base.html" %}

{% block page_content %}

<!-- This begins version 1 of the resume -->
<article>
<section class="header-row">
	<p>Strongpawcoding@gmail.com</p>
	<p class="middle-text">Matt Garcia</p>
	<p>630-555-1234</p>
</section>
<section class="links">
	<h2>External Links</h2>
	<p>Check me out on other platforms</p>
	<ul>
		<li><a href="https://linkedin.com/in/matthew-garcia-74129b234">Linkedin</a></li>
		<li><a href="https://github.com/thieu-strongpaw">Github</a></li>
	</ul>
</section>
<section class="summary">
	<h2>Summary</h2>
	<p>Results-oriented professional with extensive experience in operations management, manufacturing, and technical support. Proven ability to streamline processes, improve operational efficiency, and implement safety protocals. Currently advancing skill in software development and Six Sigma methodologies, eager to leverage a strong technical foundation and dedication to continuous improvement in a challenging role.</p>

</section>
<section class="work-experience">
	<h2>Work Experience</h2>
	<h3>Eaton, Technical Resource Center</h3>
	<p>Technical Support Engineer: 2022 - present</p>
	<ul>
		<li>Provide technical support and troubleshooting for Uninterruptible Power Supplies, KVM systems, console servers, and network equipment</li>
		<li>Achieved Six Sigma Yellow Belt certification, actively participating in continuous improvement initiatives to optimize technical support processes</li>
		<li>Collaborate closely with cross-functional teams to enhance product reliability and customer satisfaction through proactive problem-solving</li>
	</ul>
	</br> 
	<h3>Royal Power Solutions</h3>
	<p>Tool Maker: 2017 - 2022</p>
	<ul>
		<li>Developed and implemented a Quick Die Exchange procedure, reducing setup times by 50%</li>
		<li>Assessed, updated, and enforced safety protocols, significantly reducing workplace risks and improving overall operational safety</li>
		<li>Practiced 5s methodology, streamiling workspace efficiency and driving continuous improvement in manufacturing processes</li>
	</ul>
	</br>
	<h3>Portillo's Restaurant Group</h3>
	<p>Opening Store Team Manager: 2010 - 2017</p>
	<ul>
		<li>Led the successful launch and operational setup of ten new restaurant locations nationwide</li>
		<li>Managed comprehensive budgets, effectively reducing costs through optimized labor scheduling, inventory purchasing, capital asset management, and technology implementation</li>
		<li>Recruited, trained, and mentored teams, establishing operational excellence and high customer service standards from day one</li>
	</ul>
</section>
<section class="education">
	<h2>Education</h2>
	<h3>Bachelor of Science, Computer Science</h3>
	<p>Lewis University, Romeoville, IL<p>
	<p>2024-2026</p>
	<h3>Associate in Applied Science, Software Development</h3>
	<p>College of DuPage, Glen Ellyn, IL</p>
	<p>Graduated December 2024, with Honors</p>
	<h3>Certifications</h3>
	<ul>
		<li>Python Language Proficiency Certificate, College of DuPage, May 2023</li>
		<li>C++ Language Proficiency Certificate, College of DuPage, May 2023</li>
	</ul>
</section>
<section class="interests">
	<h2>Interests</h2>
	<p>I love my garden, baking, and a varity of silly but creative projects</p>
</section>
</article>
{% endblock page_content %}
